body, html {
    background-color: e6ecf0;
}

h1, h3 {
    color: black;
    margin: 0px;
}

.logoContainer img {
    width: 400px;
    height: auto;
    margin: -50px;
}

.input {
    padding: 5px;
    display: inline-block;
    position: relative;
  }

.MuiInputBase-root {
    margin: 2.5px;
}