#title {
    color: purple;
    font-size: xx-large;
    font-style: italic;
    left: 680px;
    position: relative;
    top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: oblique;
    float: left;
}

/* #appLogo {
    float:left;
    position: relative;
    height: 50px;
}

#header {
    height: 150px;
    width: 1200px;
    background-color:silver;
    float:left;
} */

#header {
	padding: 10px;
	background-color: silver;
}

.appLogo {
	width: 100px;
	margin-left: 40px;
}

#login {
    top: 500px;
    left:1000px;
}

/* #username {
    margin-top: 300px;
    margin-left: 100px;
}

#password {
    margin-top: 300px;
    margin-left: 100px;

} */

input[type=text] {
    width: 40%;
    padding: 15px 20px;
    margin: 8px 450px;
    display: block;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-sizing: border-box;
}

label {
    margin-left:450px;
} 

.container {
    margin-top: 150px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

#login {
    width: 40%;
    background-color: darkorchid;
    color: white;
    padding: 15px 20px;
    margin: 8px 450px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login:hover {
    background-color: purple;
} 
