.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
  color: black;
  text-align: center;
}

#header {
padding: 10px;
background-color: silver;
}



input[type=text] {
  width: 40%;
  padding: 15px 20px;
  margin: 8px 450px;
  display: block;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type=password] {
width: 40%;
padding: 15px 20px;
margin: 8px 450px;
display: block;
border: 1px solid lightgray;
border-radius: 5px;
box-sizing: border-box;
}


#usertype {
  width: 40%;
  padding: 15px 20px;
  margin: 8px 450px;
  display: block;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
.usertypebuttons {
/* display: inline-flex; */
/* display: flex; */
width: 900px;
flex-direction: row;
color: blueviolet;
}

.radiobutton {
flex: 1 0 auto;
display: flex;
flex-direction: column;
align-items: center;
}


/* Different colour when hover over signup button */
/* #signup:hover {
  background-color: purple;
}  */

/* The signup button */
#signup {
  color: black;
}

label {
  margin-left:450px;
} 

.container {
  margin-top: 190px;
  border-radius: 5px;
  /* background-color: white; */
  padding: 20px;
}
/* Different colour when hover over signup button */
/* input[type=submit]:hover {
  background-color: mediumorchid;
}  */

input[type=submit] {
width: 40%;
padding: 15px 20px;
margin: 8px 450px;
display: block;
background-color: coral;
border: 1px solid lightgrey;
border-radius: 5px;
box-sizing: border-box;
}

body {
	background-color: #e6ecf0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}