#title {
    color: purple;
    font-size: xx-large;
    font-style: italic;
    left: 550px;
    position: relative;
    top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: oblique;
    float: left;
}

/* #appLogo {
    float:left;
    position: relative;
    height: 50px;
}

#header {
    height: 150px;
    width: 1200px;
    background-color:silver;
    float:left;
} */

#header {
	padding: 10px;
	background-color: silver;
}

.appLogo {
	width: 100px;
	margin-left: 40px;
}

#signup {
    top: 500px;
    left:1000px;
}

#username {
    margin-top: 300px;
    margin-left: 100px;
}

#password {
    margin-top: 300px;
    margin-left: 100px;

}